:root {
	/* Dark Mode */
	--primary: hsl(220, 41%, 10%);
	--secondary: hsl(220, 41%, 10%);
	--navigation: hsl(0, 0%, 81%);
	--header: hsl(0, 0%, 98%);
	--paragraph: hsl(0, 0%, 81%);
	--accent: hsl(220, 100%, 70%);
	--mobile-nav: hsl(219, 56%, 12%);

	/*Light Mode */
	--lm-primary: hsl(0, 0%, 96%);
	--lm-header: hsl(0, 0%, 83%);
	--lm-list: hsl(0, 0%, 66%);

	/* Animation */
}

/* GENERAL */

.animate__animated.animate__fadeInUp {
	--animate-delay: 0.2s;
}

.animate__animated.animate__fadeInRight {
	--animate-delay: 0.5s;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	color: white;
	background-color: var(--primary);
	font-family: "Montserrat", sans-serif;
	transition: background-color 0.3s ease-in;
}

main {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

h2 {
	font-size: clamp(2rem, 7vw, 3.5rem);
	margin-bottom: 4rem;
}

a {
	text-decoration: none;
	color: white;
}

img {
	vertical-align: top;
}

/* REVERSE CLASS FOR EMAIL OBFUSCATION */

span.reverse {
	unicode-bidi: bidi-override;
	direction: rtl;
}

/* UTILITY CLASSES*/

.wrapper {
	position: relative;
	padding: 4rem;
	max-width: 1440px;
	margin: 0 auto;
}

.section-line-container {
	max-width: 1440px;
	align-self: center;
	width: 100%;
	padding: 0 4rem;
}

.section-line-primary {
	width: 4.5rem;
	height: clamp(0.3rem, 1vw, 0.5rem);
	background: linear-gradient(90deg, #ae36fe -50%, #04d7d9 150%);
	border-radius: 25px;
	margin: 2rem 0;
}

.section-line-secondary {
	width: 4.5rem;
	height: clamp(0.3rem, 1vw, 0.5rem);
	background: linear-gradient(90deg, #985dd0 0%, #e5633c 100%);
	border-radius: 25px;
	margin: 2rem 0;
}

/* HEADER */

.nav-mobile {
	display: none;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 4rem;
	max-width: 1504px;
	margin: 0 auto;
	position: relative;
}

.logo-container {
	background-color: white;
	display: flex;
	align-items: center;
	overflow: hidden;
	border-radius: 5px;
}

.logo {
	width: 2.5rem;
	height: 2.5rem;
	/* background-image: url(images/pb-logo.svg); */
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

header .container img {
	max-width: 100%;
	margin-right: 0.5rem;
}

header nav {
	position: absolute;
	left: 25vw;
}

.nav-list {
	list-style: none;
	display: flex;
	gap: 3vw;
}

.nav-list li {
	display: inline-block;
	font-size: 1rem;
	font-weight: 700;
	margin-top: 0.5rem;
}

.nav-list a {
	font-family: inherit;
	color: var(--navigation);
	transition: 0.3s ease;
}

.nav-list a:hover {
	color: white;
	transition: 0.3s ease;
}

header .media-links {
	display: flex;
	gap: clamp(1rem, 2vw, 3rem);
}

header i {
	color: white;
	font-size: 2rem;
	transition: 0.3s ease;
}

header a i:hover {
	transform: scale(1.1);
	transition: 0.3s ease;
}

/* DARK MODE SWITCH */

.dark-toggle {
	display: flex;
	align-items: center;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #1e3764;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.2);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.fa-moon {
	font-size: 1rem;
	color: #f1c40f;
}

.fa-sun {
	font-size: 1rem;
	color: #f39c12;
}

/* HERO SECTION*/

.hero-wrapper {
	position: relative;
	padding: 4rem;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	margin-bottom: 0rem;
}

.hero-text-container {
	color: var(--header);
	margin-top: 4rem;
}

.hero-text-container h1 {
	color: var(--header);
	font-size: clamp(2rem, 7vw, 4rem);
	font-weight: 600;
	position: relative;
	z-index: 2;
}

.hero-text-container p {
	position: relative;
	max-width: 58%;
	margin-top: 2rem;
	line-height: clamp(1.5rem, 4vw, 3rem);
	font-size: clamp(1rem, 3vw, 1.8rem);
	z-index: 12;
	color: var(--paragraph);
	margin-bottom: 1rem;
}

.hero-text-container .cta {
	display: inline-block;
	color: white;
	font-size: clamp(1rem, 4vw, 1.5rem);
	font-weight: 400;
	margin-right: 1.5rem;
	padding: 1rem 2rem;
	border-radius: 50px;
	background-color: var(--primary);
	background: linear-gradient(90deg, #ae36fe -50%, #04d7d9 150%);
	border: none;
	cursor: pointer;
	transition: 0.3s ease;
	margin-top: 2rem;
	z-index: 90;
}

.hero-text-container .cta i {
	margin-left: 0.5rem;
}

.hero-text-container .cta:hover {
	filter: saturate(1.7) brightness(1.2);
	transition: 0.3s ease;
}

.hero-text-container button:active {
	outline: none;
}

.hero-animation {
	position: absolute;
	top: -1rem;
	right: 0;
	width: 40rem;
	z-index: -1;
}

/* PROJECTS SECTION*/

.projects-wrapper {
	overflow: hidden;
	padding: 4rem;
	max-width: 1440px;
	margin: 0 auto;
}

.project-cards-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
	grid-auto-rows: 1fr;
	gap: 5rem;
}

.project-card {
	border-radius: 5px;
	max-width: 616px;
	justify-self: center;
}

.project-image {
	border-radius: 8px;
	height: 19.4rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.project-image a {
	background-color: #3a3b6e;
	position: absolute;
	color: rgb(255, 255, 255);
	font-weight: 400;
	border-radius: 25px;
	padding: 0.3rem 0.7rem;
	transition: 0.3s ease;
	font-size: 0.8rem;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.project-image a:hover {
	background-color: #53549c;
	transition: 0.3s ease;
}

.live-link {
	top: 1rem;
	right: 1rem;
}

.code-link {
	top: 1rem;
	right: 4.5rem;
}

.image-wrapper img {
	max-width: 100%;
}

.project-info {
	padding: 1.5rem;
}

.project-info .stack {
	list-style: none;
	margin-bottom: 2rem;
}

.project-info .stack li {
	color: var(--paragraph);
	display: inline-block;
	margin-right: 2rem;
}

.project-info a {
	color: white;
	text-decoration: none;
	transition: 0.3s ease;
}

.project-info a:hover {
	color: var(--accent);
	transition: 0.3s ease;
}

.project-info a:visited {
	text-decoration: none;
}

.project-title {
	font-size: clamp(1.5rem, 7vw, 2rem);
}

.project-description {
	grid-column: 1;
	margin: 1rem 0;
	line-height: clamp(1.5rem, 2vw, 1.7rem);
	color: var(--paragraph);
}

.feature-list li {
	margin-left: 2rem;
	margin-bottom: 0.8rem;
	color: var(--paragraph);
}

.tech-used {
	grid-column: 2;
	grid-row: 1 / span 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 1rem;

	font-size: 2rem;
	text-align: center;
}

/* TECHNOLOGIES SECTION*/
.tech {
	position: relative;
	padding: 4rem;
	max-width: 1440px;
	margin: 0 auto;
}

.tech h2 {
	margin-bottom: 2rem;
}

.tech > p {
	font-size: clamp(1rem, 3vw, 1.5rem);
	max-width: 60%;
	color: var(--paragraph);
	line-height: clamp(1.5rem, 5vw, 2.5rem);
}

.tech-cards-wrapper {
	margin-top: 4rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-auto-rows: 1fr;
	gap: 3rem;
}

.tech-card {
	max-width: 70%;
}

.tech-card p {
	font-size: 1rem;
	color: var(--paragraph);
	max-width: 70%;
}

.tech-card i {
	display: inline-block;
	margin-left: 0.1rem;
	font-size: 2rem;
	margin-right: 1rem;
}

.tech-card h3 {
	display: inline-block;

	font-size: 2rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

/* ABOUT ME SECTION*/

.about {
	position: relative;
	padding: 4rem;
	max-width: 1440px;
	margin: 0 auto;
}

.about h2 {
	margin-bottom: 2rem;
}

.about > p {
	font-size: clamp(1rem, 3vw, 1.5rem);
	max-width: 68%;
	color: var(--paragraph);
	line-height: clamp(1.5rem, 5vw, 2.5rem);
}

.games {
	cursor: pointer;
}

.games:hover {
	color: white;
	transition: ease 0.3s;
}

.pizza {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	text-decoration: none;
}

.pizza:hover {
	color: #fff;
	transition: ease 0.3s;
}

.timeline-wrapper {
	margin-top: 4rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	grid-auto-rows: 1fr;
	gap: 5rem;
}

.timeline-card {
	position: relative;
}

.timeline-card img {
	top: 0;
	margin-left: 2rem;
	position: absolute;
	display: inline-block;
}

.timeline-card i {
	top: 0;
	right: 0rem;
	position: absolute;
	display: inline-block;
	margin-left: 0.1rem;
	font-size: 1.2rem;
}

.timeline-card h3 {
	display: inline-block;

	font-size: 1.5rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

.timeline-card p {
	font-size: 0.8rem;
	color: var(--paragraph);
	font-weight: 400;
	max-width: 80%;
}

/* CODING WEBSITES SECTION */

.page-icon-container {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 0.8rem;
	filter: brightness(0.8) invert();
}

.frontend-masters {
	filter: brightness(5);
}

.profile-links h3 {
	font-weight: 400;
}

.profile-links ul {
	list-style: none;
	margin-top: 4rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	grid-auto-rows: 1fr;
	gap: 3rem;
}

.profile-links ul a {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 1.5rem;
	filter: brightness(0.8);
}

.profile-links ul a:hover {
	filter: brightness(1);
}

/* FOOTER */
footer {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	margin-top: 5rem;
}

.footer-wrapper {
	position: relative;
	padding: 2rem 4rem 1rem 4rem;
	max-width: 1440px;
	margin: 0 auto;
}

.footer-wrapper i {
	margin-left: 1rem;
	color: white;
	font-size: 2rem;
	transition: 0.3s ease;
	font-size: 1.2rem;
}

.contact-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 2rem;
}

.contact-info h4 {
	grid-row: 1;
	margin-bottom: 1rem;
	color: var(--header);
	font-size: 0.8rem;
}

.contact-info *:not(h4) {
	grid-row: 2;
	color: var(--navigation);
}

.bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bottom p {
	color: var(--paragraph);
	font-weight: 700;
	align-self: flex-end;
	font-size: 0.7rem;
}

/* DARK MODE CLASSES */
/* DARK MODE - GENERAL CLASS, INVERT - REVERSES EFFECTS OF INVERT FILTER */

.dark-mode {
	background-color: var(--lm-primary);
	filter: invert() hue-rotate(180deg);
	transition: background-color 0.5s ease-in;
}

.dark-mode p,
.dark-mode ul,
.dark-mode li,
.dark-mode a,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode .media-links *,
.dark-mode .contact-info *,
.dark-mode .bottom {
	color: var(--lm-header);
}

.dark-mode .stack li {
	color: var(--lm-list);
}

.invert {
	filter: invert() hue-rotate(180deg);
}

@media (max-width: 740px) {
	/* GENERAL */
	.divider-primary {
		margin: 1rem 0;
	}

	.divider-secondary {
		margin: 1rem 0;
	}

	.projects-wrapper {
		padding: 0;
	}
	.hero-wrapper,
	.about,
	.tech,
	.footer-wrapper,
	.div-container,
	.container,
	.profile-links {
		padding: 2rem;
	}

	/* BOTTOM NAVIGATION */

	.nav-mobile {
		position: fixed;
		bottom: 0;
		background-color: var(--mobile-nav);
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem 4rem;
		width: 100%;
		z-index: 200;
		text-align: center;
	}

	.nav-mobile ul {
		gap: clamp(1rem, 14vw, 8rem);
	}

	.nav-mobile .nav-list a {
		color: white;
	}

	.nav-mobile i {
		display: block;
		margin-bottom: 0.5rem;
	}

	/* HEADER */

	header .container {
		padding: 2 4rem;
	}

	header .nav-list {
		display: none;
	}

	/* HERO */

	.hero-text-container {
		margin-top: 2rem;
	}

	.hero-text-container p {
		max-width: 100%;
	}

	.cta {
		padding: 0.5rem 1rem;
	}

	/* PROJECTS SECTION */

	.project-cards-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-auto-rows: 1fr;
		gap: 5rem;
	}

	.project-cards-wrapper {
		grid-auto-rows: auto;
		gap: 2.5rem;
	}

	/* TECH SECTION */

	.tech > p {
		max-width: 100%;
	}

	.tech-cards-wrapper {
		gap: 2rem;
	}

	.tech-card p {
		max-width: 100%;
	}

	/* ABOUT SECTION*/

	.about > p {
		max-width: 100%;
	}

	/* FOOTER */

	footer {
		margin-top: 3rem;
		margin-bottom: 4.75rem;
	}

	.contact-info,
	.bottom {
		display: flex;
		flex-direction: column;
	}

	.bottom small {
		margin-top: 1rem;
		order: 2;
	}

	.contact-info h4 {
		margin: 1rem 0 0.5rem 0;
	}
}
